body{
    margin-left:10px;

    font-family:"メイリオ";
}
body{background-image:url("https://4.bp.blogspot.com/-bjq_-rEdyd8/Wge7obz3agI/AAAAAAABICI/S_yRF0-1IWghHYjE2EYRFqgi7OQrBJe6gCLcBGAs/s800/bg_baseball_ground.jpg");
}
background-image{
    width:100%;
}

a:link,a:visited{
    text-decoration:none;
}
.lists{
    background-color:rgb(163, 243, 212 , 0.9);
    border-radius: 8px;
    padding-top :10px;
    width:100%;
}
header a{
    display: inline-block;
    border-radius: 10px;
}

.ct{
    display: block;
}

.ctLists{
    margin-top:10px;

}

.lists a{
    font-weight:bold;
    padding :5px 5px;
    margin:1px;
}
.icon1{
    background-color:red;
    color:white;
}
.icon2{
    background-color:aqua;
    color:black;
}
.icon3{
    background-color: orange;
    color:black;
}
.icon4{
    background-color:blue;
    color :white;
}
.icon5{
    background-color: greenyellow;
    color:black;
}
.icon6{
    background-color: yellow;
    color:black;
}

.ctTexts p,.songTexts p{
    border :5px;
    border-color:rgb(82, 82, 73);
    border-radius:5px;
    opacity:1;
    background-color:rgb(245, 245, 220,0.9);
    padding:5px;

    
}


.songLists,.ctLists{
    display: inline-block;
    background-color:  rgb(255, 244, 184, 0.9);
    padding:5px;
    border-radius: 5px;
    height:150px;
}
.songLists {
    margin-left:10px;

}

.songLists a,.ctLists a{
    margin-left:20px;
    padding-right:20px;
    margin-bottom:2px;
}

.songLists a{
    display:  block;
    margin-left:20px;
}
.blank{
    padding:500px;
}

main{
    background-color: rgb(255, 244, 184, 0.9);
}
main p{
    padding :5px;
    height:30px;
    border-radius: 10px;
    border:solid;
    border-color:brown;

}

main a{
 display:inline-block;
 float:right;
 margin-right:60%;
 padding:3px;
 position: relative;

}