body{
    margin-left:10px;
    background-color:rgba(215, 255, 255, 0.651);
}
a:link,a:visited{

    text-decoration:none;
}
.lists{
    background-color:rgb(163, 243, 212);
    border-radius: 8px;
    padding-top :10px;
    width:90%;
}
header a{
    display: inline-block;
    border-radius: 10px;
}

.ct{
    display: block;
}

.ctLists{
    margin-top:10px;
    margin-bottom:10px;
}

.lists a{
    font-weight:bold;
    padding :5px 10px;
    margin:1px;
}
.icon1{
    background-color:red;
    color:white;
}
.icon2{
    background-color:aqua;
    color:black;
}
.icon3{
    background-color: orange;
    color:black;
}
.icon4{
    background-color:blue;
    color :white;
}
.icon5{
    background-color: greenyellow;
    color:black;
}
.icon6{
    background-color: yellow;
    color:black;
}

.ctTexts p,.songTexts p{
    border :5px;
    border-color:rgb(82, 82, 73);
    border-radius:5px;
    background-color:beige;
    padding:5px;
}
.songLists,.ctLists{
    display: inline-block;
}

.songLists a{
    display: block;
    margin-left:20px;
}
.blank{
    padding:500px;
}

main{
    background-color: rgb(255, 244, 184);
}
main p{
    padding :5px;

}